<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Developer</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Developing some applications for myself and using theme like sub fixer and terminal games and iOS app for my iphone. Also making my CV to be great but now I have a few hot item in my hand because currently I'm learning but sooner I do great works
        and add them here. Now working on web mailing and web designing and study on Phishing pages on net to learn about it and Defend it.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>All of my codes in my projects is clear and can be understand and read by the newer to this situation so then I continue my this properate and may some mans give a contact for work. My team have good coder and ACMer of IBM challenge</p>
    </div>
    <div class="four columns">
      <h4>Now</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>We currently study for IOI Olympiad | ACM ICPC and study university lessons for Better digree so we can not accept all projects and works. And yes we are working on gitHub and doing cool things by Atom Editor (Try it)</p>
    </div>
  </div>
</div>
