<div id="particles-js">
  <div class="content">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="icons-header">
      <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      <!-- <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.gplus_username}}/posts"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a> -->
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
    <a class="link" href="#about" data-scroll>Ab0ut M3</a>
    <a class="link" href="#projects" data-scroll>Pr0j3cts</a>
    <a class="link" href="http://amshq.ir" target="_blank"><i class="fa fa-bolt" aria-hidden="true"></i>  My Site >_{cl!c|> 1t}</a>
    <a class="link" href="http://amscv.amshq.ir" target="_blank"><i class="fa fa-briefcase" aria-hidden="true"></i>  My P0rtfolio {R3sume}</a>
    <a class="link" href="http://beepaste.io" target="_blank"><i class="fa fa-clipboard" aria-hidden="true"></i>  0ur PasteB!n</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
