<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <hr>
  <div class="row user-projects">
    <!--<div class="six columns images">
     <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div> -->
    <div class="six columns">
      <h5> Truth Table Generator </h5>
      <li> Java Script - python - C / CPP / HTML / CSS </li>
      <p>This a Generator but not same as other, This is TRuth Table Generator that you insert a formula and it calculate it and make a table for constructor and discrete base of math and help you find what is the x , y of row in formula discrete and which
        one is 0 1 or 1 0 0 01 1010101 01010 :D .It can convert from decimal to binary or in reverse. Some time later i upload it in my git and my site you can use it by your self.
      </p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <hr>
  <div class="row user-projects">
    <div class="six columns">
      <h5> My Site </h5>
      <ul>
        <li> Wordpress CMS / HTML /CSS /PHP /AJAX / JQUERY / MYSQL </li>
      </ul>
      <p>This is my site where i will upload my projects and my works, I created it for community that my friends my teachers works together on projects and making cool things. Now it is under maintence mode because of I am editing it also themes and code
        CSS and HTML for Performance and Speed. After that I will share it with you. Its take times
      </p>
      <a class="project-link" href="http://ams-hq.ir">Check it out</a>
    </div>
  </div>
  <hr>
  <div class="row user-projects">
    <div class="six columns">
      <h4>
        <span class="fa fa-lg fa-code"></span>
        <span>Skills</span>
      </h4>
      <br>
      <ul>
        <li class="card-nested skill master">
          <strong>Desktop Applications (master):</strong>
          <span>C++ ,</span> <span>Python ,</span> <span>Swift</span>
        </li>
        <li class="card-nested skill master">
          <strong>Algorithms Design (master):</strong>
          <span>Datastructure</span> <span>Time-complexity</span> <span>Discrete-Mathematics</span>
        </li>
        <li class="card-nested skill master">
          <strong>Competitions (master):</strong>
          <span>ACM</span> <span>IEEE</span> <span>HACKERRANK</span> <span>TOPCODER</span>
        </li>
        <br>
        <li class="card-nested skill pro">
          <strong>Web Development (pro):</strong>
          <span>HTML</span> <span>CSS</span> <span>Javascript</span> <span>php</span>
        </li>
        <li class="card-nested skill pro">
          <strong>Webserver Configuration (pro):</strong>
          <span>Virtualmin</span> <span>Apache</span> <span>Mailserver</span> <span>Firewall</span>
        </li>
        <li class="card-nested skill pro">
          <strong>Mobile Developments (pro):</strong>
          <span>Kernels</span> <span>android</span> <span>iOS</span>
        </li>
        <br>
        <li class="card-nested skill amateur">
          <strong>Network (amateur):</strong>
          <span>Cisco</span> <span>Oracle</span> <span>IBM</span> <span>Network+</span>
        </li>
        <li class="card-nested skill amateur">
          <strong>Secutiry (amateur):</strong>
          <span>Hacking and Defence</span> <span>Offensive Security</span> <span>Defcon BlackHats</span>
        </li>
        <li class="card-nested skill amature">
          <strong>Driving (Starter) :</strong>
          <span>Driving Grade 3 - My best coache is my uncle : Mahdi Safari Livari - still I'm learning from my uncle</span>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="user-details">
    <h3><span class="fa fa-lg fa-child">   Volunteer Work</span></h3>
  </div>

  <h5>ProblemSolver</h5>
  <p>
    <strong>Project Euler</strong>
  </p>
  <p>Solving 400 / 500 Mathematics Problems in Project Euler you can find it by Devil Black Boys ID in Top 100 Users.</p>
  <br>

  <h5>Linux Support</h5>
  <p> Arch Linux installation and Bug Kernel patched</p>
  <p>Found bug in arch repo and patch kernel after find algorithm of situation and send data to its company found in archlinux.org/bugs </p>

  <h5>Achive Honorable Mensioned By</h5>
  <strong>ACM ICPC 2017<strong>
      <p>As ACM ICPC baylor to baylor in 2017 | My team with me achive the certificate of IBM ACM for winnig in under 100 team accepted of 379 Team all over in my country.</p>
  <hr>

  <div class="user-details">
    <h3><span class="fa fa-lg fa-language">   Languages</span></h3>
  </div>

  <p><strong>Persian</strong></p>
  <p> Native Language</p>
  <br>
  <p><strong>English</strong></p>
  <p> Second Language | {F.C.E} - {C.A.E} - {C.P.E} | Ready for IELTS and TOFEL </p>
  <br>
  <p><strong>Japanese</strong></p>
  <p> Third Language | Learning Kanji and Hiragana two way of Japanese and I love it so much. (I love Anime like crazy one)

</div>
